#home{
    color: rgb(10, 8, 8);
    background-color: rgba(250, 0, 0, 0.1);
}
body{
    background: rgba(98, 204, 48, 0.7);
}
h2{
    font-size: 190px;
    background-color: aqua;
    width: 300px;
    height: 300px;
    
}